.playerProfile {
    text-align: center;
    display: flex;
    margin-left:10px;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color:darkorchid;
    width: 740px;
    height: 680px;
}

.playerGameList {
    border: solid;
    border-color: black;
    border-width: 3px;
    background-color: white;
    margin-top: 10px;
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
    height: 250px;
    text-align: left;
    padding: 10px;

}

.playerPlaystyleList {
    border: solid;
    border-color: black;
    border-width: 3px;
    background-color: white;
    margin-top: 10px;
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
    height: 250px;
    text-align: left;
    padding: 10px;
}

.playerTimeList {
    border: solid;
    border-color: black;
    border-width: 3px;
    background-color: white;
    margin-top: 10px;
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
    height: 250px;
    text-align: left;
    padding: 10px;
}


.playerInfo {
    border: solid;
    border-color: black;
    border-width: 3px;
    background-color: white;
    margin-top: 10px;
    width: 200px;
    height: 320px;
    margin-left: 10px;
    margin-right: 300px;
    text-align: center;
    padding: 10px;
}

.playerAvatarIcon {
    background-color: purple;
    border-radius: 50%;
    height: 160px;
    width: 160px;
    margin-left: 19px;
    margin-top: 2%;
}

.playerUsername {
    margin-top: 2px;
}